//section-about
.section-about {
  &__content {
    display: flex;
    justify-content: space-between;
    gap: 98px;

    @include media-desktop-small {
      gap: 40px;
    }

    @include media-large-laptop {
      gap: 20px;
    }

    @include media-tablet {
      flex-direction: column;
      gap: 30px;
    }
  }

  .text {
    margin-bottom: 64px;

    @include media-mobile {
      margin-bottom: 42px;
    }
  }

  &__text {
    max-width: 640px;

    @include media-large-laptop {
      max-width: 570px;
    }

    @include media-tablet {
      max-width: 100%;
    }
  }

  &__endorsed {
    display: flex;
    align-items: center;
    gap: 24px;

    @include media-mobile {
      display: none;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-right: 12px;
  }
}

//section-video-and-cards
.section-video-and-cards {
  background-color: $color-black;
  color: #fff;

  .subtitle {
    color: #fff;
    margin-bottom: 0;
    padding-top: 8px;

    @include media-mobile {
      padding-top: 0;
    }
  }

  .title {
    color: #fff;
    max-width: 925px;
    width: 100%;
  }

  &__headline {
    display: flex;
    gap: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;

    @include media-mobile {
      flex-direction: column;
      padding-bottom: 30px;
    }
  }

  &__video {
    padding: 100px 0 90px;

    @include media-mobile {
      max-width: 356px;
      margin: auto;
      padding: 35px 0;
    }

    video {
      max-height: 636px;
      object-fit: cover;

      @include media-main-size {
        max-height: 44.167vw;
      }

      @include media-laptop {
        max-height: 636px;
      }

      @include media-mobile {
        max-width: 356px;
        margin: auto;
        height: 185vw;
        max-height: 716px;
      }
    }
  }

  &__video-inner {
    position: relative;
  }

  .cards-regular {
    &__text {
      color: #fff;
    }
  }
}

//section-program-preview
.section-program-preview {
  &__title {
    @extend %title-extra-small;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include media-mobile {
      gap: 60px;
    }
  }

  &__item-content {
    max-width: 345px;
    width: 100%;
    font-family: Avenir Next;
  }

  &__text {
    margin-bottom: 30px;
  }

  &__item-image {
    max-width: 630px;
    width: 100%;
    max-height: 400px;
    position: relative;

    @include media-large-laptop {
      max-width: 600px;
    }

    @include media-laptop {
      max-width: 53%;
    }

    @include media-mobile {
      max-width: 100%;
    }

    .item-image {
      border-radius: 400px;
      overflow: hidden;

      @include media-mobile {
        max-height: 210px;
      }
    }
  }

  &__item-decor {
    max-width: 150px;
    max-height: 150px;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    right: 25%;

    @include media-laptop {
      max-width: 130px;
      max-height: 130px;
    }

    @include media-tablet {
      max-width: 100px;
      max-height: 100px;
    }

    @include media-mobile {
      max-width: 80px;
      max-height: 80px;
      right: 20%;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;

    @include media-mobile {
      flex-direction: column-reverse;
      align-items: start;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;

      @include media-mobile {
        flex-direction: column-reverse;
      }
    }
  }
}

//section-donate
.section-donate {
  background-color: $color-black;
  color: #fff;
  position: relative;
  height: 750px;

  @include media-desktop-small {
    height: auto;
  }

  .size-main {
    height: 100%;

    @include media-desktop-small {
      height: auto;
    }
  }

  .title {
    color:#fff;
    margin-bottom: 40px;

    @include media-mobile {
      font-size: 36px;
      line-height: 120%;
      max-width: 94%;
      margin-bottom: 30px;
    }

    @include media-mobile-small {
      font-size: 30px;
    }
  }

  &__text {
    max-width: 300px;
    color: #fff;

    @include media-mobile {
      max-width: 320px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    max-width: 590px;
    height: 100%;

    @include media-desktop-small {
      max-width: 100%;
    }

    @include media-tablet {
      flex-direction: column-reverse;
    }

    @include media-mobile {
      gap: 100px;
      padding-bottom: 100px;
    }

    @include media-mobile-small {
      padding-bottom: 70px;
    }
  }

  &__image {
    max-width: 720px;
    width: 100%;
    max-height: 750px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    @include media-desktop-small {
      position: static;
      transform: translateX(40px);
    }

    @include media-large-laptop {
      transform: translateX(20px);
    }

    @include media-tablet {
      transform: translateX(0);
      max-width: calc(100% + 30px);
      margin: 0 -15px;
      width: auto;
      height: 550px;
    }
  }

  &__description {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
    font-family: Avenir Next;

    @include media-laptop {
      flex-direction: column-reverse;
      align-items: start;
    }
  }
}

//section-slider
.section-slider {
  background-color: $color-red;
  color: #fff;
  max-width: 100vw;
  overflow: hidden;

  .subtitle {
    color: #fff;
    margin-bottom: 165px;

    @include media-large-laptop {
      margin-bottom: 50px;
    }

    @include media-mobile {
      margin-bottom: 40px;
    }

  }

  .swiper-slide {
    max-width: 450px;
    width: 100%;
    height: auto;
  }

  .swiper-slide-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 40px;
  }

  .slide-title {
    @extend %slide-title;
    border-bottom: 1px solid #fff;
    padding-bottom: 22px;

    @include media-mobile {
      padding-bottom: 25px;
    }
  }

  .swiper-achievements {
    overflow: visible;
  }

  &__headline {
    max-width: 540px;
    display: none;

    &.swiper-slide {
      display: block;

      @include media-large-laptop {
        display: none;
      }
    }

    @include media-large-laptop {
      display: block;
      margin-bottom: 100px;
    }

    @include media-mobile-small {
      margin-bottom: 70px;
    }
  }
}

//section-vertical-sliders
.section-vertical-sliders {
  background-color: $color-blue-light;

  @include media-mobile {
    background-color: $color-red;
    color: #fff;
  }

  .title {
    @include media-mobile {
      font-size: 36px;
      line-height: 120%;
      color: #fff;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
  }

  &__headline {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include media-mobile {
      padding: 100px 0;
      gap: 40px;
    }
  }

  &__text {
    max-width: 285px;

    @include media-mobile {
      color: #fff;
      max-width: 315px;
    }
  }

  &__sliders {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 720px;
    width: 100%;
    max-height: 750px;

    @include media-large-laptop {
      max-width: 600px;
      max-height: 550px;
    }

    @include media-tablet {
      display: none;
    }
  }

  .vertical-slider {
    &__item {
      max-width: 340px;
      max-height: 450px;

      @include media-large-laptop {
        //max-width: 280px;
        max-height: 370px;
      }
    }
  }

  .button-link {
    @include media-mobile {
      color: #fff;

      .button-link__icon {
        border-color: #fff;

        svg path {
          fill: #fff;
        }
      }

      &:hover {
        .button-link__icon {
          background-color: #fff;

          svg path {
            fill: $color-black;
          }
        }
      }
    }
  }
}

//section-recent-posts
.section-recent-posts {
  &__posts {
    display: flex;
    justify-content: space-between;
    gap: 115px;
    margin-bottom: 20px;

    @include media-desktop-small {
      gap: 7vw;
    }

    @include media-large-laptop {
      gap: 4vw;
    }

    @include media-laptop {
      flex-direction: column;
      gap: 40px;
      margin-bottom: 0;
    }
  }

  .title {
    margin-bottom: 40px;

    @include media-mobile {
      font-size: 36px;
    }
  }

  &__text {
    max-width: 400px;
    width: 100%;
    margin-bottom: 80px;

    @include media-mobile {
      max-width: 350px;
      margin-bottom: 60px;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 40px;
    max-width: 525px;
    width: 100%;

    @include media-large-laptop {
      max-width: 480px;
    }

    @include media-laptop {
      max-width: 100%;
      margin-bottom: 40px;
    }

    @include media-mobile {
      gap: 30px;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: end;

    @include media-laptop {
      align-items: start;
    }
  }
}

//section-hero-simple
.section-hero-simple {
  background-color: $color-black;
  color: #fff;
  position: relative;

  &:after {
    content: '';
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 385px;

    @include media-laptop {
      height: 260px;
    }

    @include media-mobile {
      height: 175px;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    color: #fff;
    margin-bottom: 40px;

    @include media-mobile {
      padding: 0 20px;
      margin-bottom: 28px;
    }

    @include media-mobile-regular {
      padding: 0;
    }
  }

  &__text {
    color: #fff;
    max-width: 415px;
    width: 100%;
    margin-bottom: 125px;

    @include media-mobile {
      padding: 0 20px;
      margin-bottom: 85px;
    }

    @include media-mobile-regular {
      padding: 0;
    }

    @include media-mobile-small {
      margin-bottom: 60px;
    }
  }

  &__image {
    @include media-mobile {
      height: 400px;
    }

    @include media-mobile-small {
      height: 300px;
    }
  }
}

//section-mission
.section-mission {
  padding: 100px 0;

  @include media-tablet {
    padding-bottom: 40px;
  }

  @include media-mobile {
    padding-bottom: 20px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include media-laptop {
      flex-direction: column;
      gap: 50px;
    }

    @include media-mobile {
      gap: 32px;
    }
  }

  .subtitle {
    padding-top: 6px;
    margin-bottom: 0;

    @include media-mobile {
      padding-top: 0;
    }
  }

  &__title {
    border-bottom: 1px solid $color-black-light;
    padding-bottom: 40px;
    margin-bottom: 40px;
    max-width: 940px;
  }

  &__content {
    max-width: 960px;
    width: 100%;
  }

  &__description {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 55px;
  }

  &__endorsed {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 264px;
    padding-top: 10px;

    @include media-laptop {
      max-width: 250px;
    }

    @include media-tablet {
      display: none;
    }
  }

  &__text {
    width: 640px;
  }

  &__text-inner {
    @include media-mobile {
      max-height: 360px;
      overflow: hidden;
      transition: all 0.5s ease-in;

      &.open {
        transition: all 0.5s ease-out;
        max-height: 2000px;

        & ~ .show-more .show-more__icon {
          transform: rotate(180deg);
        }

        & ~ .show-more .show-more__name-more {
          display: none;
        }

        & ~ .show-more .show-more__name-less {
          display: block;
        }
      }
    }
  }
}

//section-cards-samples
.section-cards-samples {
  padding: 100px 0;

  @include media-tablet {
    padding-top: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;

    @include media-tablet {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }

  &__item {
    max-width: 385px;
    width: 100%;

    @include media-desktop-small {
      max-width: calc((100% - 100px) / 3);
    }

    @include media-tablet {
      max-width: 100%;
      padding-top: 20px;
      border-top: 1px solid $color-black;
    }

    &:nth-child(3n) {
      .card-line {
        display: none;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 30px;

    @include media-mobile {
      max-width: 220px;
      margin-bottom: 20px;
    }

    .card-line {
      display: block;
      max-width: 66%;
      width: 100%;
      border-bottom: 1px solid $color-black;

      @include media-laptop {
        max-width: 50%;
      }

      @include media-tablet {
        display: none;
      }
    }
  }

  &__text {
    max-width: 344px;
    width: 100%;

    @include media-tablet {
      max-width: 100%;
    }
  }

  .section-mission__endorsed {
    display: none;
    max-width: 264px;
    padding-top: 60px;
    gap: 22px;

     @include media-mobile {
       display: flex;
     }
  }
}

//section-with-cards
.section-with-cards {
  background-color: $color-black;
  color: #fff;

  .subtitle {
    color: #fff;
  }

  &__title {
    color: #fff;
  }

  &__text {
    color: #fff;
    max-width: 640px;
    width: 100%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 80px;

    @include media-tablet {
      flex-direction: column;
      gap: 40px;
      margin-bottom: 40px;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    @include media-mobile {
      gap: 10px;
    }
  }

  &__item {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 60px;
    max-width: calc((100% - 20px) / 2);
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 40px 55px 40px 40px;
    min-height: 252px;

    @include media-desktop-small {
      flex-direction: column;
      align-items: start;
      gap: 30px;
    }

    @include media-laptop {
      border-radius: 50px;
    }

    @include media-tablet {
      max-width: 100%;
      border-radius: 40px;
      min-height: auto;
    }

    @include media-mobile {
      padding: 30px 28px 26px;
      gap: 16px;
    }
  }

  &__item-text {
    color: #fff;
  }
}

.section-decorative-title {
  &__title {
    font-family: Avenir Next;
    font-size: 85px;
    font-weight: 900;
    line-height: 120%;

    & > p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .decor {
      background-color: $color-black;
      border-radius: 200px;
      height: 110px;
      min-width: 110px;
      display: inline-block;
    }
  }
}