.footer {
  background-color: $color-black;
  color: #fff;
  position: relative;

  &__top {
    padding: 85px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);

    @include media-laptop {
      flex-direction: column;
      align-items: start;
      padding-bottom: 30px;
    }

    @include media-mobile {
      border-top: 1px solid rgba(255, 255, 255, 0.15);
      padding: 20px 0;
    }
  }

  &__form {
    max-width: 800px;

    input[type="email"] {
      background-color: transparent;
      max-width: 675px;
      margin-right: 40px;
      color: #fff;
      font-size: 40px;

      @include media-large-laptop {
        max-width: 540px;
        font-size: 42px;
      }

      @include media-mobile {
        max-width: 280px;
        margin-right: 18px;
        font-size: 22px;
        letter-spacing: -0.045em;
      }

      @include media-mobile-large {
        max-width: 71vw;
        font-size: 6vw;
        letter-spacing: -0.47vw;
      }

      &::placeholder {
        @extend %form-footer-input;
      }
    }

    input[type="submit"] {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      opacity: 0;
      position: relative;
      z-index: 10;
      cursor: pointer;

      @include media-mobile {
        width: 60px;
        height: 60px;
      }

      @include media-mobile-large {
        width: 15.385vw;
        height: 15.385vw;
      }
    }

    .fake-button-submit {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.05);
      width: 80px;
      height: 80px;
      position: absolute;
      border-radius: 50%;
      top: 0;
      left: 0;
      transition: all .3s;

      @include media-mobile {
        width: 60px;
        height: 60px;
      }

      @include media-mobile-large {
        width: 15.385vw;
        height: 15.385vw;
      }

      svg {
        @include media-mobile {
          width: 20px;
        }
      }
    }

    .form-subscribe-inner {
      display: flex;
      align-items: center;
    }

    .wpcf7-spinner {
      position: absolute;
      top: calc(100% + 20px);
    }

    .button-submit {
      &:hover .fake-button-submit {
        background-color: #fff;

        svg path {
          fill: $color-black;
        }
      }
    }

    .wpcf7-response-output {
      @extend %font-nav;
      border: none!important;
    }

    &.invalid .wpcf7-response-output {
      display: none;
    }

    .wpcf7-not-valid-tip {
      position: absolute;
      color: $color-red;
    }

    .wpcf7-response-output {
      position: absolute;
      color: $color-blue;
      margin: 0!important;
      padding: 0!important;

      @include media-mobile {
        position: static;
      }
    }
  }

  &__content {
    padding: 65px 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @include media-laptop {
      flex-direction: column;
      margin-bottom: 0;
      padding-bottom: 30px;
    }

    @include media-mobile {
      padding: 38px 0 110px;
    }
  }

  &__content-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    max-width: 645px;
    width: 100%;
    margin-bottom: 70px;
    @extend %address;

    @include media-mobile {
      max-width: 350px;
      margin-bottom: 55px;
    }
  }

  &__content-emails {
    display: flex;
    gap: 60px;
    margin-bottom: 80px;

    @include media-laptop {
      margin-bottom: 65px;
    }

    @include media-mobile {
      flex-direction: column;
      gap: 34px;
      margin-bottom: 55px;
    }

    .footer-email {
      &__title {
        @extend %footer-opacity;
        display: block;
        margin-bottom: 18px;
      }

      &__link {
        font-family: Avenir;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.08;
        letter-spacing: -0.5px;

        &:hover {
          opacity: .7;
        }
      }
    }
  }

  &__endorsed {
    display: flex;
    align-items: end;
    gap: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;

    @include media-laptop {
      display: none;
    }
  }

  &__text {
    @extend %footer-opacity;
  }

  &__menu-list {
    display: flex;
    gap: 97px;
    padding-top: 10px;
    @extend %footer-menu;

    @include media-large-laptop {
      gap: 50px;
    }

    @include media-mobile {
      gap: 80px;
      flex-wrap: wrap;
    }

    .sub-menu {
      padding-top: 30px;
      display: flex;
      gap: 30px;
      flex-direction: column;

      a:hover {
        color: rgba(255, 255, 255, .3);
      }

      li:last-child {
        position: absolute;
        bottom: 0;
        color: rgba(255, 255, 255, .3);

        @include media-laptop {
          display: none;
        }

        & a:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  &__content-right {
    position: relative;
    padding-bottom: 50px;

    @include media-mobile {
      padding-bottom: 60px;
    }
  }

  &__content-left {
    width: 100%;
    max-width: 815px;

    @include media-large-laptop {
      max-width: 700px;
    }

    @include media-mobile {
      flex-direction: column-reverse;
      display: flex;
    }
  }

  &__social {
    &.social-desktop {
      @include media-mobile {
        display: none;
      }
    }

    &.social-mobile {
      display: none;
      @include media-mobile {
        display: block;
      }

      .social-list {
        @include  media-mobile {
          justify-content: center;
        }
      }
    }
  }

  .footer-logo {
    max-width: 200px;
    width: 100%;

    @include media-mobile {
      margin: auto;
      padding: 90px 0 36px;
    }

    &.footer-logo-desktop {
      @include media-mobile {
        display: none;
      }
    }

    &.footer-logo-mobile {
      display: none;

      @include media-mobile {
        display: block;
      }
    }
  }

}