.footer {
  position: relative;
  color: #fff;
  background-color: $color-black;
  &__top {
    display: flex;
    padding: 85px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    @include media-laptop {
      flex-direction: column;
      padding-bottom: 30px;
      align-items: start;
    }

    @include media-mobile {
      padding: 20px 0;
      border-top: 1px solid rgba(255, 255, 255, .15);
    }
  }

  &__form {
    max-width: 800px;
    input[type='email'] {
      font-size: 40px;
      width: 100%;
      max-width: 690px;
      margin-right: 40px;
      letter-spacing: .02em;
      color: #fff;
      background-color: transparent;
      @include media-large-laptop {
        font-size: 42px;
        max-width: 570px;
      }

      @include media-mobile {
        font-size: 22px;
        max-width: 280px;
        margin-right: 18px;
      }

      @include media-mobile-large {
        font-size: 6vw;
        max-width: 71vw;
      }

      &::placeholder {
        @extend %form-footer-input;
      }
    }

    input[type='submit'] {
      position: relative;
      z-index: 10;
      display: flex;
      width: 80px;
      height: 80px;
      cursor: pointer;
      opacity: 0;
      border-radius: 50%;
      align-items: center;
      justify-content: center;
      @include media-mobile {
        width: 60px;
        height: 60px;
      }

      @include media-mobile-large {
        width: 15.385vw;
        height: 15.385vw;
      }
    }

    .fake-button-submit {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      width: 80px;
      height: 80px;
      transition: color, background-color .3s;
      border-radius: 50%;
      background: rgba(255, 255, 255, .05);
      align-items: center;
      justify-content: center;
      @include media-mobile {
        width: 60px;
        height: 60px;
      }

      @include media-mobile-large {
        width: 15.385vw;
        height: 15.385vw;
      }

      svg {
        @include media-mobile {
          width: 20px;
        }
      }
    }

    .form-subscribe-inner {
      display: flex;
      align-items: center;
    }

    .wpcf7-spinner {
      position: absolute;
      top: calc(100% + 20px);
    }

    .button-submit {
      &:hover .fake-button-submit {
        background-color: #fff;
        svg path {
          fill: $color-black;
        }
      }
    }

    .wpcf7-response-output {
      border: none!important;
      @extend %font-nav;
    }

    &.invalid .wpcf7-response-output {
      display: none;
    }

    .wpcf7-not-valid-tip {
      position: absolute;
      color: $color-red;
    }

    .wpcf7-response-output {
      position: absolute;
      margin: 0!important;
      padding: 0!important;
      color: $color-blue;
      @include media-mobile {
        position: static;
      }
    }

    .wpcf7-form-control-wrap {
      display: block;
    }
  }

  &__content {
    display: flex;
    padding: 65px 0;
    justify-content: space-between;
    gap: 20px;
    @include media-laptop {
      flex-direction: column;
      margin-bottom: 0;
      padding-bottom: 30px;
    }

    @include media-mobile {
      padding: 38px 0 110px;
    }
  }

  &__content-address {
    display: flex;
    width: 100%;
    max-width: 645px;
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @extend %address;
    @include media-mobile {
      max-width: 350px;
      margin-bottom: 55px;
    }
  }

  &__content-emails {
    display: flex;
    margin-bottom: 80px;
    gap: 60px;
    @include media-laptop {
      margin-bottom: 65px;
    }

    @include media-mobile {
      flex-direction: column;
      margin-bottom: 55px;
      gap: 34px;
    }

    .footer-email {
      &__title {
        display: block;
        margin-bottom: 18px;
        @extend %footer-opacity;
      }

      &__link {
        font-family: 'Avenir', sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 1.08;
        letter-spacing: -.5px;
        &:hover {
          opacity: .7;
        }
      }
    }
  }

  &__endorsed {
    display: flex;
    align-items: end;
    gap: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    @include media-laptop {
      display: none;
    }
  }

  &__text {
    @extend %footer-opacity;
  }

  &__menu-list {
    display: flex;
    padding-top: 10px;
    gap: 97px;
    @extend %footer-menu;
    @include media-large-laptop {
      gap: 50px;
    }

    @include media-mobile {
      gap: 80px;
      flex-wrap: wrap;
    }

    .sub-menu {
      display: flex;
      flex-direction: column;
      padding-top: 30px;
      gap: 30px;

      a {
        transition: color 0.3s;
        &:hover {
          color: rgba(255, 255, 255, .3);
        }
      }

      li:last-child {
        position: absolute;
        bottom: 0;
        color: rgba(255, 255, 255, .3);
        @include media-laptop {
          display: none;
        }

        &a:hover {
          color: rgba(255, 255, 255, 1);
        }
      }
    }
  }

  &__content-right {
    position: relative;
    padding-bottom: 50px;
    @include media-mobile {
      padding-bottom: 60px;
    }
  }

  &__content-left {
    width: 100%;
    max-width: 815px;
    @include media-large-laptop {
      max-width: 700px;
    }

    @include media-mobile {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__social {
    &.social-desktop {
      @include media-mobile {
        display: none;
      }
    }

    &.social-mobile {
      display: none;
      @include media-mobile {
        display: block;
      }

      .social-list {
        @include  media-mobile {
          justify-content: center;
        }
      }
    }
  }

  .footer-logo {
    width: 100%;
    max-width: 200px;
    @include media-mobile {
      margin: auto;
      padding: 90px 0 36px;
    }

    &.footer-logo-desktop {
      @include media-mobile {
        display: none;
      }
    }

    &.footer-logo-mobile {
      display: none;
      @include media-mobile {
        display: block;
      }
    }
  }
}