//size
.size-main {
  max-width: 1360px;
  width: 100%;
  margin: auto;
  padding: 0 40px;

  @include media-large-laptop {
    padding: 0 20px;
    max-width: 1320px;
  }

  @include media-mobile {
    padding: 0 15px;
  }
}

//buttons
.button {
  background-color: #fff;
  padding: 13px 32px;
  border-radius: 40px;
  @extend %font-nav;
  color: $color-black;
  transition: background-color.3s;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

//social
.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  color: #fff;

  &__item-link {
    border: 1px solid #fff;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    @extend %social;

    @include media-mobile {
      padding: 14px;
    }

    &.social-list__item-link-text {
      width: auto;
      border-radius: 56px;
    }

    &.social-list__item-link-custom_icon {
      padding: 13px;
    }

    &:hover {
      color: $color-black;
      background-color: #fff;
    }
  }
}

//body
body{
  &.open-menu {
    max-height: 100vh;
    overflow: hidden;
  }
}

//other
.logo {
  max-width: 40px;
  width: 100%;
}