//size
.size-main {
  width: 100%;
  max-width: 1360px;
  margin: auto;
  padding: 0 40px;

  @include media-large-laptop {
    max-width: 1320px;
    padding: 0 20px;
  }
  @include media-mobile {
    padding: 0 15px;
  }
}

.size-small {
  width: 100%;
  max-width: 1144px;
  margin: auto;
  padding: 0 40px;

  @include media-large-laptop {
    max-width: 1320px;
  }
  @include media-mobile {
    padding: 0 15px;
  }
}

//buttons
.button {
  padding: 13px 32px;

  transition: background-color 0.3s;

  color: $color-black;
  border-radius: 40px;
  background-color: #fff;

  @extend %font-nav;

  &:hover {
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.button-link {
  font-weight: 600;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 30px;
  @extend %text-regular;
  @include media-mobile {
    flex-wrap: wrap;
  }

  &:hover {
    .button-link__icon {
      background-color: $color-black;
    }

    svg path {
      fill: #fff;
    }
  }

  &.button-link-white {
    color: #fff;

    .button-link__icon {
      border-color: #fff;

      svg path {
        fill: #fff;
      }
    }

    &:hover {
      .button-link__icon {
        background-color: #fff;

        svg path {
          fill: $color-black;
        }
      }
    }
  }

  &.hover-black-white {
    .button-link__icon {
      background-color: $color-black;
      border-color: #fff;
    }

    &:hover {
      .button-link__icon {
        background-color: #fff;
        border-color: #fff;
      }
    }
  }

  &.hover-white-black {
    .button-link__icon {
      background-color: #fff;
      border-color: $color-black;

      svg {
        path {
          fill: $color-black;
        }
      }
    }

    &:hover {
      .button-link__icon {
        background-color: $color-black;
        border-color: $color-black;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  &.hover-white-coral {
    .button-link__icon {
      background-color: #fff;
      border-color: $color-black;

      svg {
        path {
          fill: $color-black;
        }
      }
    }

    &:hover {
      .button-link__icon {
        background-color: $color-red;
        border-color: $color-red;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }

  &.hover-coral-white {
    .button-link__icon {
      background-color: $color-red;
      border-color: #fff;

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &:hover {
      .button-link__icon {
        background-color: #fff;
        border-color: #fff;

        svg {
          path {
            fill: $color-black;
          }
        }
      }
    }
  }

  &__icon {
    display: flex;
    width: 80px;
    height: 80px;
    transition: color, background-color 0.3s;
    border: 1px solid $color-black-light;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    svg {
      width: 100%;
      max-width: 20px;
      height: 100%;
    }
  }
}

//social
.social-list {
  display: flex;

  color: #fff;

  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  @include media-mobile-small {
    gap: 8px 16px;
    justify-content: start !important;
  }

  &__item.item-name {
    @include media-mobile-small {
      display: flex;

      width: 100%;
    }
  }

  &__item-link {
    display: flex;

    width: 48px;
    height: 48px;
    padding: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: color, background-color 0.3s;
    @extend %social;
    @include media-mobile {
      padding: 14px;
    }

    &.social-list__item-link-text {
      width: auto;
      border-radius: 56px;
    }

    &.social-list__item-link-custom_icon {
      padding: 13px;
    }

    &:hover {
      color: $color-black;
      background-color: #fff;
    }
  }
}

.open-menu {
  position: relative;

  overflow: hidden;

  height: 100vh;
}

//body
body {
  padding-top: 93px;

  @extend %text-regular;

  &.home {
    padding-top: 0;
  }
}

//endorsed
.endorsed-title {
  font-family: "Avenir Next", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.endorsed-image {
  width: 100%;
  max-width: 150px;
}

//title
.title {
  font-family: "Avenir Next", sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 120%;

  text-transform: uppercase;

  color: $color-black;

  @include media-desktop-small {
    font-size: 40px;
  }
  @include media-large-laptop {
    font-size: 34px;
  }
  @include media-laptop {
    font-size: 30px;
  }
  @include media-mobile {
    font-size: 28px;
  }
  @include media-mobile-small {
    font-size: 24px;
  }
}

mark {
  color: $color-red;
  background-color: transparent;
}

.title-big {
  font-family: "Avenir Next", sans-serif;
  font-size: 100px;
  font-weight: 900;
  line-height: 120%;

  text-transform: uppercase;

  @include media-laptop {
    font-size: 80px;
  }
  @include media-tablet {
    font-size: 65px;
  }
  @include media-mobile {
    font-size: 44px;
  }
  @include media-mobile-small {
    font-size: 38px;
  }
}

.title-hero {
  font-family: "Avenir Next", sans-serif;
  font-size: 85px;
  font-weight: 900;
  line-height: 110%;

  text-transform: uppercase;

  @include media-tablet {
    font-size: 70px;
  }
  @include media-mobile {
    font-size: 44px;
  }
  @include media-mobile-small {
    font-size: 34px;
  }
}

.title-card {
  font-family: "Avenir Next", sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 120%;

  text-transform: uppercase;
}

.title-big-card {
  font-family: "Avenir Next", sans-serif;
  font-size: 85px;
  font-weight: 900;
  line-height: 120%;

  text-transform: uppercase;

  @include media-laptop {
    font-size: 60px;
  }
  @include media-tablet {
    font-size: 50px;
  }
  @include media-mobile {
    font-size: 44px;
  }
}

.subtitle {
  font-family: "Avenir Next", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;

  display: block;

  margin-bottom: 60px;

  text-transform: uppercase;

  color: $color-black;

  @include media-tablet {
    margin-bottom: 40px;
  }
  @include media-mobile {
    margin-bottom: 30px;
  }
}

//text
.text {
  @extend %text-regular;

  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;

    text-transform: uppercase;
  }

  h3 {
    font-size: 22px;
  }

  h4 {
    font-size: 20px;

    @include media-mobile {
      font-size: 16px;

      max-width: 260px;
    }
  }

  h5 {
    font-size: 18px;
  }

  h6 {
    font-size: 16px;
  }
}

.text-medium {
  font-family: "Avenir Next", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;

  @include media-mobile {
    font-size: 16px;
    font-weight: 400;
  }
}

.text-hero {
  font-family: "Avenir Next", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;

  @include media-mobile-small {
    font-size: 18px;
  }
}

//cards
.cards-regular {
  display: flex;
  justify-content: space-between;
  gap: 30px 10px;
  flex-wrap: wrap;

  @include media-mobile {
    gap: 20px;
  }

  &__item {
    width: calc((100% - 30px) / 4);
    padding: 30px 24px 30px 25px;
    background: rgba(255, 255, 255, 0.03);
    transition: background-color 0.3s linear;

    &:hover {
      background-color: $color-blue;
    }

    @include media-laptop {
      width: calc((100% - 30px) / 2);
    }
    @include media-mobile {
      width: 100%;
      padding: 30px 24px 55px 30px;
    }
  }

  &__icon {
    width: 100%;
    max-width: 46px;
    max-height: 46px;
    margin-bottom: 36px;
  }

  &__title {
    margin-bottom: 20px;

    color: #fff;

    @extend %title-extra-small;
  }

  &__text {
    @extend %text-regular;
  }
}

//section
.section {
  padding: 140px 0;

  @include media-laptop {
    padding: 100px 0;
  }
  @include media-mobile-small {
    padding: 70px 0;
  }
}

.section-hero {
  padding: 140px 0 0;

  @include media-mobile-small {
    padding: 70px 0 0;
  }
}

//donuts
.donuts {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;

  .donut {
    position: relative;

    overflow: hidden;

    width: 25%;
    height: 50%;

    @include media-laptop {
      width: 33.3333%;
    }
    @include media-mobile {
      width: 50%;
      height: 25%;
    }

    &:nth-child(1),
    &:nth-child(2) {
      @include media-laptop {
        display: none;
      }
      @include media-mobile {
        display: block;
      }
    }
  }

  .donut-inner {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 195%;
    height: 195%;

    transform: translate(-50%, -50%);

    border: solid 163px $color-black;
    border-radius: 50%;

    @include media-main-size {
      border: solid 160px $color-black;
    }
    @include media-desktop-small {
      width: 190%;
    }
    @include media-large-laptop {
      width: 183%;
      border: solid 135px $color-black;
    }
    @include media-laptop {
      width: 168%;
      border: solid 14vw $color-black;
    }

    @include media-mobile {
      width: 150%;
      height: 150%;

      border: solid 47px #0f1010;
    }
  }
}

//other
.logo {
  width: 100%;
  max-width: 40px;
}

//post-big
.post-big {
  @include media-laptop {
    display: flex;
    flex-direction: column;
  }
  &:hover {
    opacity: 0.7;
  }

  &__image {
    width: 100%;
    max-width: 640px;
    height: 570px;
    margin-bottom: 40px;

    @include media-laptop {
      margin: 0 auto 40px;

      order: 1;
    }
    @include media-mobile {
      height: 320px;
      margin-bottom: 0;
    }
  }

  &__info {
    display: flex;

    margin-bottom: 34px;

    gap: 20px;
    @extend %post-info;
  }

  &__title {
    width: 100%;
    max-width: 525px;
    margin-bottom: 25px;

    @extend %title-small-extra;
    @include media-laptop {
      max-width: 100%;
    }
    @include media-mobile {
      margin-bottom: 30px;
    }
  }

  &__text {
    width: 100%;
    max-width: 500px;

    @include media-laptop {
      max-width: 100%;
      margin-bottom: 34px;
    }
    @include media-mobile {
      margin-bottom: 40px;
    }
  }
}

.post-regular {
  padding-bottom: 20px;

  border-bottom: 1px solid rgba(15, 16, 16, 0.15);

  &:hover {
    opacity: 0.7;
  }

  &__title {
    margin-bottom: 30px;

    @extend %title-small-extra;
    @include media-mobile {
      font-size: 24px;
    }
  }

  &__text {
    max-width: 495px;

    @include media-laptop {
      max-width: 100%;
    }
  }

  &__info {
    display: flex;

    margin-bottom: 35px;

    gap: 20px;
    @extend %post-info;
  }
}

//show-more
.show-more {
  display: none;

  padding-top: 20px;

  transition: opacity 0.3s;

  align-items: center;
  gap: 15px;
  @include media-mobile {
    display: flex;
  }

  &:hover {
    opacity: 0.7;
  }

  &__icon {
    display: flex;

    max-width: 10px;
    transition: transform 0.3s;

    align-items: center;
    justify-content: flex-end;
  }

  &__name {
    font-family: "Avenir Next", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    display: block;
  }

  &__name-less {
    display: none;
  }
}

//author
.author {
  display: flex;

  justify-content: start;
  gap: 20px;

  &__photo {
    overflow: hidden;

    width: 80px;
    height: 80px;

    border-radius: 50%;
  }

  &__name {
    font-size: 20px;
    font-weight: 500;
    line-height: 150%;

    margin-bottom: 8px;
  }

  &__info {
    padding: 6px 0;
  }

  &__description {
    opacity: 0.5;
    color: $color-black-light;
  }
}

.content-for-show-more {
  transition: max-height 0.7s ease-in;

  &.open {
    max-height: 1000px;

    transition: max-height 0.7s ease-in-out;

    & ~ .show-more .show-more__icon {
      transform: rotate(180deg);
    }

    & ~ .show-more .show-more__name-more {
      display: none;
    }

    & ~ .show-more .show-more__name-less {
      display: block;
    }
  }
}

.form-regular {
  width: 100%;
  max-width: 830px;

  label {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;

    display: flex;
    flex-direction: column;

    width: 100%;
    margin-bottom: 24px;

    color: #fff;

    gap: 16px;
    @include media-mobile {
      margin-bottom: 20px;
    }
  }

  input,
  textarea,
  select {
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    padding: 16px 20px;
    resize: none;
    transition: border, background-color 0.3s;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.03);

    &.wpcf7-not-valid {
      border-color: $color-red;
    }

    &:not(.wpcf7-submit):focus {
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    &:hover {
      background: rgba(255, 255, 255, 0.08);
    }

    ::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  select {
    display: none;

    width: 100%;
    max-width: 100%;

    cursor: pointer;

    border: none;
    background: url("./images/arrow.svg") no-repeat rgba(255, 255, 255, 0.03);
    background-position: calc(100% - 0.75rem) center !important;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    @include media-laptop {
      display: block;
    }
    @include media-tablet {
      width: calc(100vw - 30px);
    }

    &:hover {
      background: url("./images/arrow.svg") no-repeat rgba(255, 255, 255, 0.03);
    }

    &:hover {
      background: url("./images/arrow.svg") no-repeat rgba(255, 255, 255, 0.08);
    }
  }

  textarea {
    height: 170px;
  }

  fieldset p {
    display: flex;

    justify-content: space-between;
    gap: 12px 24px;
    @include media-mobile {
      flex-direction: column;

      gap: 0;
    }
  }

  .button-submit-contact {
    position: relative;

    display: inline-block;

    margin-top: 10px;

    @include media-mobile {
      display: flex;

      margin-top: 25px;

      justify-content: center;
    }

    &:hover {
      .fake-button-submit {
        background-color: #fff;

        svg path {
          fill: $color-black;
        }
      }
    }
  }

  .wpcf7-spinner {
    position: absolute;
  }

  #button-submit-page {
    font-size: 16px;
    font-weight: 600;

    position: relative;
    z-index: 2;

    display: inline-block;

    width: auto;
    height: 80px;
    padding-right: 110px;
    padding-left: 0;

    cursor: pointer;
    transition: background-color, color, border 0.3s;
    text-align: left;

    color: #fff;
    background-color: transparent;
  }

  .fake-button-submit {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;

    width: 80px;
    height: 80px;

    transition: background-color 0.3s;

    border: 1px solid #fff;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
    @include media-mobile {
      right: 0 !important;
    }

    svg {
      @include media-mobile {
        width: 20px;
      }
    }

    p {
      line-height: 0;
    }
  }

  .button-submit-form {
    @include media-mobile {
      display: flex;

      justify-content: start;
    }
  }

  form {
    &.invalid {
      .wpcf7-response-output {
        color: $color-red !important;
        border: none !important;
      }
    }

    .wpcf7-response-output {
      color: $color-blue !important;
      border: none !important;
    }
  }
}

form {
  .select2-container--default .select2-selection--single {
    font-family: Avenir Next, sans-serif;
    font-size: 16px;
    line-height: 150%;

    position: relative;

    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 16px 50px 16px 20px;

    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.03);
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    line-height: 150%;

    color: #fff;
  }

  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-size: 16px;
    line-height: 150%;

    color: #fff;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;

    width: 40px;
    height: 100%;

    cursor: pointer;
    transition: transform 0.3s;

    background: url("./images/arrow.svg") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;

    b {
      display: none;
    }
  }

  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
  }

  .select2.select2-container.select2-container--open .select2-selection__arrow {
    transform: rotateX(180deg);
  }
}

.wpforms-form {
  font-family: "Avenir Next", sans-serif;

  position: relative;

  display: flex;

  max-width: 1200px;
  padding-top: 260px;

  flex-wrap: wrap;
  gap: 25px 90px;
  @include media-desktop-small {
    gap: 25px 30px;
    justify-content: space-between;
  }
  @include media-large-laptop {
    gap: 25px;
  }
  @include media-laptop {
    flex-direction: column;

    padding-top: 100px;

    gap: 0;
  }
  @include media-mobile {
    padding-top: 0;
  }

  .wpforms-field-container {
    width: 100%;
    max-width: 67.5%;

    @include media-desktop-small {
      max-width: 66.9%;
    }
    @include media-laptop {
      max-width: 100%;
    }
    @include media-mobile {
      margin-bottom: 25px;
    }
  }

  .wpforms-page-indicator {
    width: 100%;
    max-width: 300px;

    @include media-laptop {
      max-width: 100%;
    }
  }

  .wpforms-page-indicator-page-number {
    display: flex;

    width: 48px;
    height: 48px;

    border: 1px solid $color-black;
    border-radius: 50%;

    align-items: center;
    justify-content: center;
  }

  .wpforms-page-indicator-page {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;

    display: flex;

    width: 100% !important;
    margin-bottom: 36px;

    align-items: center;
    gap: 30px;
    @include media-laptop {
      display: none;

      justify-content: center;
    }
    @include media-mobile {
      flex-direction: column;

      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    &.active {
      color: $color-blue;

      @include media-laptop {
        display: flex;
      }

      .wpforms-page-indicator-page-number {
        border-color: $color-blue;
        background-color: transparent !important;
      }
    }

    &:last-child {
      margin-bottom: 0;

      @include media-laptop {
        margin-bottom: 36px;
      }
    }
  }

  .wpforms-field-layout .wpforms-label-hide,
  .wpforms-field-address .wpforms-field-label {
    font-size: 45px;
    font-weight: 900;
    line-height: 120%;

    position: absolute;
    top: 140px;
    left: 0;

    text-transform: uppercase;

    @include media-laptop {
      position: static;

      margin: auto;

      text-align: center;
    }
    @include media-mobile {
      font-size: 36px !important;
    }
  }

  .wpforms-page-button,
  .wpforms-submit-container .wpforms-submit {
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    padding: 16px 32px;

    transition: 0.3s;

    color: #fff;
    border-radius: 40px;
    background-color: $color-black;

    &:hover {
      opacity: 0.8;
    }

    &.wpforms-page-prev {
      color: $color-black;
      border: 1px solid $color-black;
      background-color: transparent;
    }
  }

  .wpforms-page {
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    &.last {
      .wpforms-field {
        max-width: 590px;
        margin-bottom: 42px;

        @include media-laptop {
          max-width: 100%;
        }
        @include media-mobile {
          margin-bottom: 5px;
        }

        &:first-child,
        &:last-child {
          max-width: 815px;

          @include media-laptop {
            max-width: 100%;
          }
        }
      }

      .wpforms-field label {
        line-height: 150%;

        margin-bottom: 0;

        @include media-mobile {
          font-size: 16px;
        }
      }

      .wpforms-field-checkbox {
        gap: 24px;
      }

      .wpforms-field-layout:first-child {
        .wpforms-field-layout-columns {
          @include media-mobile {
            display: none;
          }
        }
      }

      .wpforms-pagebreak-left {
        display: none;

        @include media-mobile {
          padding-top: 44px;
        }
      }

      .wpforms-payment-price {
        & + label {
          font-weight: 600;

          @include media-mobile {
            max-width: 240px;
          }
        }
      }
    }

    &.wpforms-page-4 {
      .wpforms-payment-price {
        & + label {
          font-weight: 600;

          @include media-mobile {
            max-width: 240px;
          }
        }
      }
    }

    & > .wpforms-field-layout,
    .wpforms-field-pagebreak {
      margin-bottom: 0 !important;
    }

    .wpforms-layout-column:first-child {
      @include media-mobile {
        display: flex;
        flex-direction: column-reverse;

        gap: 20px;
      }
    }
  }

  .wpforms-field {
    display: flex;
    flex-direction: column;

    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 28px;

      @include media-mobile {
        margin-bottom: 20px;
      }
    }

    input,
    select,
    .select2-selection {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      padding: 16px 20px;

      transition: 0.3s;

      background-color: rgba(29, 37, 45, 0.03);

      &::placeholder {
        opacity: 0.5;
      }

      &:hover {
        background-color: rgba(29, 37, 45, 0.1);
      }

      &:focus {
        background-color: rgba(29, 37, 45, 0.06);
      }

      .select2-selection__rendered {
        color: $color-black;
      }

      .select2-selection__arrow {
        filter: invert(1);
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      width: 28px;
      height: 28px;
      padding: 0;

      border-radius: 6px;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
    }

    li {
      display: flex;

      align-items: center;
      gap: 16px;

      &.wpforms-selected {
        input[type="checkbox"],
        input[type="radio"] {
          background-color: $color-blue;
          background-image: url(./images/arrow-input.svg);
        }
      }
    }
    &.wpforms-field-payment-multiple {
      ul {
        display: flex;

        flex-wrap: wrap;
        gap: 12px;
        @include media-mobile {
          gap: 8px;
        }

        li {
          position: relative;

          width: calc((100% - 24px) / 3);
          height: 150px;

          border-radius: 8px;
          background: #fff;

          @include media-mobile {
            width: calc((100% - 8px) / 2);
          }

          input[type="radio"] {
            width: 100%;
            height: 100%;

            background: transparent;
          }

          &:last-child {
            label {
              font-size: 30px;
            }
          }

          label {
            font-size: 45px;
            font-weight: 900;
            line-height: 120%;
            position: absolute;
            top: 50%;
            left: 50%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            transform: translate(-50%, -50%);
            color: $color-black;

            .purpose-of-payment {
              display: block;
              width: 100%;
              padding: 10px;
              text-align: center;
              font-size: 14px;
              line-height: 1.2;
              font-weight: 700;
              color: $color-red;

              @include media-mobile {
                font-size: 12px;
              }
            }
          }

          &.wpforms-selected {
            background-color: $color-blue;

            label {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .wpforms-field-label {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

    display: flex;
    flex-direction: row-reverse;

    color: $color-black;

    justify-content: start;
  }

  .wpforms-field-row {
    & > div {
      display: flex;
      flex-direction: column-reverse;

      gap: 16px;
    }
  }

  .wpforms-field-address {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    gap: 15px;

    .wpforms-field-row {
      width: calc(50% - 8px);

      @include media-mobile {
        width: 100%;
      }
    }

    .wpforms-field-row-block {
      margin-bottom: 24px;
    }
  }

  .wpforms-pagebreak-left {
    display: flex;

    justify-content: end;
    align-items: center;
    gap: 16px;
    @include media-mobile {
      justify-content: center;
    }
  }

  .wpforms-submit-container {
    position: absolute;
    right: 0;
    bottom: -65px;

    display: flex;

    width: 100%;

    justify-content: end;
    @include media-mobile {
      position: static;

      justify-content: center;
    }
  }

  .wpforms-error {
    color: $color-red;
  }

  .wpforms-field-layout-columns {
    margin-bottom: 10px;
  }

  .wpforms-field-checkbox {
    @include media-mobile {
      font-size: 12px;

      padding-top: 22px;
    }
  }

  .wpforms-field-payment-single {
    input[type="text"] {
      font-family: "Avenir Next", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 120%;

      padding: 26px 24px;

      color: rgba(29, 37, 45, 1);
      border-radius: 8px;
      background: #fff;

      ::placeholder {
        color: rgba(29, 37, 45, 0.5);
      }
    }
  }

  .wpforms-page-2 {
    .wpforms-field-checkbox {
      margin-top: 26px;
    }
  }

  .wpforms-submit-spinner {
    position: absolute;
    right: 0;

    max-width: 30px;
    max-height: 30px;
  }

  .currency {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
  }

  .regular-payment {
    position: absolute;
    top: 140px;
    right: 0;

    @include media-laptop {
      position: static;
    }

    ul {
      display: flex;

      gap: 20px 8px;
      @include media-laptop {
        justify-content: center;
        flex-wrap: wrap;
      }
    }

    li {
      position: relative;

      display: inline-block;
      overflow: hidden;

      min-width: 230px;

      border-radius: 100px;
      background: #fff;

      &.wpforms-selected input[type="radio"] {
        background-color: #5092a4;
        background-image: none;
      }

      &.wpforms-selected {
        label {
          color: #fff;
        }
      }
    }

    label {
      position: relative;
      z-index: 2;

      display: flex;

      padding: 20px 50px;

      transition: color 0.3s;

      align-items: center;
      justify-content: center;
    }

    input[type="radio"] {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 100%;
    }
  }

  .wpforms-field-stripe-credit-card-number {
    .wpforms-field-stripe-credit-card-cardnumber {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      padding: 16px 20px;

      transition: 0.3s;

      background-color: rgba(29, 37, 45, 0.03);

      &:hover {
        background-color: rgba(29, 37, 45, 0.1);
      }
    }
  }

  button,
  input[type="radio"],
  input[type="checkbox"] {
    cursor: pointer;

    & + label {
      cursor: pointer;
    }
  }
}

.wpforms-confirmation-container {
  font-size: 55px;
  font-weight: 900;
  line-height: 130%;

  display: flex;
  flex-direction: column;

  padding-top: 100px;

  color: $color-blue;

  justify-content: center;
  align-items: center;
  @include media-mobile {
    font-size: 30px;

    padding-top: 0;
  }

  a {
    margin-top: 40px;
  }
}

.wpforms-container .wpforms-form .wpforms-field-layout .wpforms-layout-column {
  @include media-mobile {
    padding: 0 10px !important;
  }
}

.select2-container {
  .select2-dropdown {
    top: 4px;

    border: none;
    border-radius: 2px;
    background-color: $color-black;
  }

  .select2-results__option {
    font-family: Avenir Next, sans-serif;
    font-size: 16px;
    line-height: 150%;

    padding: 6px 20px;

    color: #fff;
  }

  .select2-results__options {
    padding: 14px 0;

    border: 1px solid #fff;
    background: rgba(255, 255, 255, 0.03);
  }

  .select2-search--dropdown {
    display: none;
  }

  .select2-results__options .select2-results__option--highlighted {
    transition: background-color 0.3s;
  }

  .select2-results__options .select2-results__option--highlighted[aria-selected] {
    transition: background-color 0.3s;

    background-color: rgba(255, 255, 255, 0.03);
  }
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: $color-blue !important;
}

select .wpcf7-form-control,
.wpcf7-selct-multiselct,
.wpcf7-selct_multiselct,
.select2-hidden-accessible {
  display: none;
}

.error-404 {
  font-family: "Avenir Next", sans-serif;

  padding: 200px 0;

  background-color: $color-black;

  &__wrapper {
    max-width: 800px;
    margin: auto;
  }

  &__name {
    font-size: 80px;
    font-weight: 700;
    line-height: 120%;

    display: block;

    margin-bottom: 70px;

    color: #fff;
  }

  &__link-home {
    font-size: 30px;

    display: block;
  }
}
