.posts {
  overflow: hidden;
  max-width: 100vw;
  padding-bottom: 100px;

  &__headline {
    font-size: 170px;
    font-weight: 900;
    line-height: 1;
    padding: 190px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: $color-black;
    @include media-tablet {
      font-size: 100px;
      padding: 100px 0;
    }

    @include media-mobile {
      font-size: 65px;
      line-height: 110%;
      padding: 170px 0 195px;
    }
  }

  &__wrapper {
    display: flex;
    padding-top: 60px;
    justify-content: start;
    gap: 80px;
    @include media-mobile {
      padding-top: 40px;
    }

    &:nth-child(2) {
      margin-bottom: 80px;
    }
  }

  &__content {
    width: 100%;
  }

  .posts-panel {
    width: 100%;
    max-width: 240px;
    @include media-laptop {
      display: none;
    }

    &__wrapper {
      background-color: #fff;
    }
  }

  &__items-wrapper,
  .alm-reveal {
    display: flex;
    padding-bottom: 60px;
    justify-content: space-between;
    gap: 60px 45px;
    flex-wrap: wrap;
    @include media-tablet {
      padding-bottom: 45px;
    }

    @include media-mobile {
      flex-direction: column-reverse;
      padding-bottom: 80px;
      gap: 40px;
    }
  }

  &__items {
    &:first-child {
      margin-bottom: 20px;
      @include media-tablet {
        margin-bottom: 0;
      }
    }
  }

  &__item {
    width: 100%;
    max-width: 480px;
    @include media-desktop-small {
      max-width: calc(((100% - 45px) / 2) * 1.2);
    }

    @include media-large-laptop {
      max-width: calc((100% - 45px) / 2);
    }

    @include media-mobile {
      max-width: 100%;
    }

    &:nth-child(2n) {
      width: 100%;
      max-width: 435px;
      @include media-desktop-small {
        max-width: calc(((100% - 45px) / 2) * 0.8);
      }

      @include media-large-laptop {
        max-width: calc((100% - 45px) / 2);
      }

      @include media-mobile {
        max-width: 100%;
      }

      .posts__item-image {
        img {
          height: 300px;
          @include media-mobile {
            height: 340px;
          }
        }
      }
    }
  }

  &__item-image {
    margin-bottom: 40px;

    &:hover {
      img {
        opacity: 0.7;
      }
    }

    img {
      height: 450px;
      transition: opacity 0.5s ease;
      @include media-large-laptop {
        height: 300px;
      }

      @include media-mobile {
        height: 340px;
      }
    }
  }

  &__item-title {
    width: 100%;
    max-width: 420px;
    @extend %posts-title;
  }

  &__item-text {
    width: 100%;
    max-width: 400px;
    margin-bottom: 30px;
  }

  &__item-bottom {
    display: flex;
    width: 100%;
    max-width: 400px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    @include media-mobile {
      flex-direction: column;
      align-items: start;
    }
  }

  &__item-info {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__button {
    font-size: 16px;
    font-weight: 500;
    margin: 20px auto 0;
    padding: 14px 32px;
    cursor: pointer;
    transition: opacity, color, background-color 0.3s;
    color: $color-black;
    border-radius: 40px;
    background: rgba(64, 54, 237, 0.05);

    &:disabled {
      pointer-events: none;
      opacity: 0.4;
    }

    &:hover {
      color: #fff;
      background-color: $color-black;
    }
  }

  .alm-btn-wrap {
    position: absolute;
    right: 0;
    left: 0;
  }

  .ajax-load-more-wrap {
    min-height: 48px;
  }
}

.post-last {
  position: relative;

  &__wrapper {
    display: block;
    padding-bottom: 60px;
    border-bottom: 1px solid $color-black-light;
    @include media-mobile {
      padding-bottom: 40px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 160px;
    background-color: $color-black;
    @include media-mobile {
      height: 225px;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    margin-bottom: 60px;
    @include media-mobile {
      margin-bottom: 40px;
    }

    img {
      height: 550px;
      @include media-tablet {
        height: 350px;
      }

      @include media-mobile {
        height: 400px;
      }
    }
  }

  &__title {
    width: 100%;
    max-width: 890px;
    margin-bottom: 40px;
    @include media-large-laptop {
      max-width: 78vw;
    }

    @include media-mobile {
      font-size: 36px;
      max-width: none;
      margin-bottom: 30px;
    }
  }

  &__text {
    max-width: 500px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    @include media-laptop {
      flex-direction: column;
    }

    @include media-mobile {
      gap: 27px;
    }
  }

  &__item-left {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    align-items: end;
    gap: 30px;
    @include media-laptop {
      padding-top: 0;

      align-items: start;
    }

    @include media-mobile {
      gap: 20px;
    }
  }

  &__item-info {
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.posts-filter {
  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 50px;
    }
  }

  .item-filter {
    font-size: 16px;
    line-height: 150%;
    width: 100%;
    padding: 6px 10px;
    transition: background 0.3s;
    border-radius: 4px;

    &:hover {
      background: rgba(64, 54, 237, 0.2);
    }

    &.active {
      font-weight: 600;
      background: rgba(64, 54, 237, 0.05);
    }
  }

  .item-filter-input:checked {
    & + .item-filter {
      font-weight: 600;
      background: rgba(64, 54, 237, 0.05);
    }
  }

  .posts-panel-item {
    display: flex;
    width: 100%;
    cursor: pointer;

    a {
      width: 100%;
    }
  }
}

.posts-form {
  position: relative;
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 75px 100px;
  color: #fff;
  background-color: $color-blue;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  @include media-laptop {
    padding: 80px;
  }

  @include media-tablet {
    flex-direction: column-reverse;
    margin-bottom: 0;
    padding: 60px;
    text-align: center;
    align-items: center;
  }

  @include media-mobile {
    margin-bottom: 40px;
    padding-bottom: 100px;
    justify-content: start;
  }

  &__image {
    width: 100%;
    max-width: 300px;

    img {
      @include media-mobile {
        height: 140px;
        object-fit: contain;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    color: #fff;
    @include media-mobile {
      font-size: 36px;
      max-width: 350px;
      margin: 0 auto 40px;
    }
  }

  &__text {
    font-size: 14px;
    color: #fff;
    @include media-mobile {
      max-width: 260px;
      margin: auto;
    }
  }

  &__form {
    margin-bottom: 16px;
    @include media-mobile {
      margin-bottom: 32px;
    }

    .wpcf7-form-control-wrap {
      display: inline-block;
    }

    input[type="email"] {
      font-size: 16px;
      min-width: 400px;
      margin-right: 12px;
      padding: 20px;
      color: #fff;
      border-radius: 100px;
      background: rgba(255, 255, 255, 0.15);
      @include media-mobile {
        width: calc(100vw - 70px);
        min-width: auto;
        margin-right: 0;
        padding: 18px 20px;
      }

      &:focus::placeholder {
        opacity: 0.5;
      }

      &::placeholder {
        color: #fff;
      }
    }

    input[type="submit"] {
      font-size: 16px;
      font-weight: 600;
      padding: 19px 36px;
      cursor: pointer;
      transition: color, background-color 0.3s;
      color: $color-blue;
      border: 1px solid #fff;
      border-radius: 100px;
      background: #fff;

      @include media-mobile {
        padding: 18px 36px;
      }

      &:hover {
        color: #fff;
        background-color: $color-blue;
      }
    }

    .wpcf7-response-output {
      font-size: 14px;
      margin-left: 0 !important;
      padding: 5px;
      color: $color-red;
      border-color: transparent !important;
      border-radius: 25px;
      background-color: #fff;

      &[aria-hidden="true"] {
        color: $color-blue;
      }
    }

    .wpcf7-not-valid-tip {
      font-size: 14px;
      display: none;
      margin-top: 10px;
      padding: 5px 20px;
      color: $color-red;
      border-radius: 25px;
      background-color: #fff;
    }

    .wpcf7-spinner {
      position: absolute;
      right: -30px;
      margin: 0;
    }

    form {
      p {
        position: relative;
        display: flex;
        align-items: start;
        @include media-tablet {
          justify-content: center;
        }

        @include media-mobile {
          flex-direction: column;
          padding: 0 20px;
          align-items: stretch;
          gap: 12px;
        }
      }
    }
  }
}
