//colors
$color-black: #0F1010;
$color-black-light: #1D252D;
$color-blue: #5092A4;
$color-red: #DC6761;
$color-yellow: #FFEB84;
$color-yellow-second: #FFEE83;
$color-pink: #FFC9C9;
$color-blue-light: #CADCE0;
$color-wisp-pink : #F8EDEB;
$color-yellow-light: #FFF7CF;
$color-mandys-pink: #F6D2C7;
$color-purple-light: #9596FF;

//media
$mediaWidthMobileSmall: 350px;
$mediaWidthMobileRegular: 380px;
$mediaWidthMobileLarge: 400px;
$mediaWidthMobile: 767px;
$mediaWidthLargeMobile: 700px;
$mediaWidthTablet: 991px;
$mediaWidthLaptop: 1024px;
$mediaWidthDesktopSmall: 1400px;
$mediaWidthDesktopExtraSmall: 1200px;

//for menu mobile
@mixin media-mobile-menu {
  @media (max-width: 1260px) {
    @content;
  }
}

//main
@mixin media-main-size {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin media-desktop-small {
  @media (max-width: $mediaWidthDesktopSmall) {
    @content;
  }
}

@mixin media-large-laptop {
  @media (max-width: $mediaWidthDesktopExtraSmall) {
    @content;
  }
}

@mixin media-laptop {
  @media (max-width: $mediaWidthLaptop) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $mediaWidthTablet) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mediaWidthMobile) {
    @content;
  }
}

@mixin media-mobile-regular {
  @media (max-width: $mediaWidthMobileRegular) {
    @content;
  }
}

@mixin media-mobile-landscape {
  @media (max-width: $mediaWidthTablet) and (orientation: landscape) {
    @content;
  }
}

@mixin media-mobile-small {
  @media (max-width: $mediaWidthMobileSmall) {
    @content;
  }
}

@mixin media-mobile-large {
  @media (max-width: $mediaWidthMobileLarge) {
    @content;
  }
}


//typography
%font-nav {
  font-family: 'Avenir Next', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  @include media-mobile {
    font-family: 'Avenir Next', sans-serif;
    font-size: 20px;
    font-weight: 900;
    line-height: 110%;
    text-transform: uppercase;
  }
}

%social {
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;
}

%form-footer-input {
  font-family: Avenir;
  font-size: 54px;
  font-weight: 900;
  line-height: 1.37;
  letter-spacing: -0.025em;
  color: rgba(255, 255, 255, .3);

  @include media-large-laptop {
    font-size: 42px;
  }

  @include media-mobile {
    font-size: 22px;
    letter-spacing: -0.045em;
  }
}

%address {
  font-family: Avenir;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.375;
  letter-spacing: -0.5px;
  text-align: left;
}

%footer-opacity {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  letter-spacing: -0.5px;
  text-align: left;
  color: rgba(255, 255, 255, .3);
}

%footer-menu {
  font-family: Avenir;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -1px;
}

%text-regular {
  font-family: 'Avenir Next' , sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $color-black;
}

%title-extra-small {
  font-family: 'Avenir Next', sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
}

%slide-title {
  font-family: 'Avenir Next', sans-serif;
  font-size: 75px;
  font-weight: 900;
  line-height: 120%;

  @include media-mobile {
    font-size: 44px;
  }
}

%post-info {
  font-family: 'Avenir Next', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 120%;
}

%title-small-extra {
  font-family: 'Avenir Next', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;

  @include media-mobile {
    font-size: 22px;
  }
}

%message {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;

  @include media-mobile {
    font-size: 22px;
  }
}

%button-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-20.75deg);
  cursor: pointer;
  transition: all .3s linear;

  @include media-mobile {
    width: 100px;
    height: 100px;
    font-size: 16px;
  }
}

%posts-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 30px;
  text-transform: uppercase;
}