.footer__form .wpcf7-response-output, .button, .header__menu-list {
	font-family: Avenir Next;
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	color: #fff;
}

@media (max-width: 767px) {
	.footer__form .wpcf7-response-output, .button, .header__menu-list {
		font-family: Avenir Next;
		font-size: 20px;
		font-weight: 900;
		line-height: 110%;
		text-transform: uppercase;
	}
}

.social-list__item-link {
	font-family: Avenir Next;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: -0.02em;
	text-align: center;
	text-transform: uppercase;
}

.footer__form input[type="email"] {
	font-family: Avenir;
	font-size: 54px;
	font-weight: 900;
	line-height: 1.37;
	letter-spacing: -0.025em;
	color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1200px) {
	.footer__form input[type="email"] {
		font-size: 42px;
	}
}

@media (max-width: 767px) {
	.footer__form input[type="email"] {
		font-size: 22px;
		letter-spacing: -0.045em;
	}
}

.footer__content-address {
	font-family: Avenir;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.375;
	letter-spacing: -0.5px;
	text-align: left;
}

.footer__content-emails .footer-email__title, .footer__text {
	font-family: Avenir;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.625;
	letter-spacing: -0.5px;
	text-align: left;
	color: rgba(255, 255, 255, 0.3);
}

.footer__menu-list {
	font-family: Avenir;
	font-size: 16px;
	font-weight: 400;
	line-height: 120%;
	letter-spacing: -1px;
}

.button-link, body, .text, .cards-regular__text {
	font-family: Avenir Next;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #0F1010;
}

.cards-regular__title, .section-program-preview__title {
	font-family: Avenir Next;
	font-size: 22px;
	font-weight: 900;
	line-height: 120%;
	text-transform: uppercase;
}

.section-slider .slide-title {
	font-family: Avenir Next;
	font-size: 75px;
	font-weight: 900;
	line-height: 120%;
}

@media (max-width: 767px) {
	.section-slider .slide-title {
		font-size: 44px;
	}
}

.post-big__info {
	font-family: Avenir Next;
	font-size: 14px;
	font-weight: 500;
	line-height: 120%;
}

.post-big__title {
	font-family: Avenir Next;
	font-size: 24px;
	font-weight: 700;
	line-height: 120%;
	text-transform: uppercase;
}

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
	transition: all 0.3s linear;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

select {
	border: none;
	outline: none;
}

input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

button {
	background-color: transparent;
	display: block;
}

svg path {
	transition: all .3s;
}

video {
	width: 100%;
	max-width: 100%;
}

.swiper-wrapper {
	-webkit-transition-timing-function: linear;
	-o-transition-timing-function: linear;
	transition-timing-function: linear;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Bold.eot");
	src: url("./fonts/AvenirNextCyr-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Bold.woff") format("woff"), url("./fonts/AvenirNextCyr-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Italic.eot");
	src: url("./fonts/AvenirNextCyr-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Italic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Italic.woff") format("woff"), url("./fonts/AvenirNextCyr-Italic.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-HeavyItalic.eot");
	src: url("./fonts/AvenirNextCyr-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-HeavyItalic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-HeavyItalic.woff") format("woff"), url("./fonts/AvenirNextCyr-HeavyItalic.ttf") format("truetype");
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-BoldItalic.eot");
	src: url("./fonts/AvenirNextCyr-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-BoldItalic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-BoldItalic.woff") format("woff"), url("./fonts/AvenirNextCyr-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Heavy.eot");
	src: url("./fonts/AvenirNextCyr-Heavy.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Heavy.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Heavy.woff") format("woff"), url("./fonts/AvenirNextCyr-Heavy.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Demi.eot");
	src: url("./fonts/AvenirNextCyr-Demi.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Demi.woff") format("woff"), url("./fonts/AvenirNextCyr-Demi.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-DemiItalic.eot");
	src: url("./fonts/AvenirNextCyr-DemiItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-DemiItalic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-DemiItalic.woff") format("woff"), url("./fonts/AvenirNextCyr-DemiItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-LightItalic.eot");
	src: url("./fonts/AvenirNextCyr-LightItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-LightItalic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-LightItalic.woff") format("woff"), url("./fonts/AvenirNextCyr-LightItalic.ttf") format("truetype");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Light.eot");
	src: url("./fonts/AvenirNextCyr-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Light.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Light.woff") format("woff"), url("./fonts/AvenirNextCyr-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr Ultra';
	src: url("./fonts/AvenirNextCyr-UltraLight.eot");
	src: url("./fonts/AvenirNextCyr-UltraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-UltraLight.woff2") format("woff2"), url("./fonts/AvenirNextCyr-UltraLight.woff") format("woff"), url("./fonts/AvenirNextCyr-UltraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Thin.eot");
	src: url("./fonts/AvenirNextCyr-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Thin.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Thin.woff") format("woff"), url("./fonts/AvenirNextCyr-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Medium.eot");
	src: url("./fonts/AvenirNextCyr-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Medium.woff") format("woff"), url("./fonts/AvenirNextCyr-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-MediumItalic.eot");
	src: url("./fonts/AvenirNextCyr-MediumItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-MediumItalic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-MediumItalic.woff") format("woff"), url("./fonts/AvenirNextCyr-MediumItalic.ttf") format("truetype");
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-Regular.eot");
	src: url("./fonts/AvenirNextCyr-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Regular.woff") format("woff"), url("./fonts/AvenirNextCyr-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr';
	src: url("./fonts/AvenirNextCyr-ThinItalic.eot");
	src: url("./fonts/AvenirNextCyr-ThinItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-ThinItalic.woff2") format("woff2"), url("./fonts/AvenirNextCyr-ThinItalic.woff") format("woff"), url("./fonts/AvenirNextCyr-ThinItalic.ttf") format("truetype");
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Avenir Next Cyr Ultra';
	src: url("./fonts/AvenirNextCyr-UltraLightIt.eot");
	src: url("./fonts/AvenirNextCyr-UltraLightIt.eot?#iefix") format("embedded-opentype"), url("./fonts/AvenirNextCyr-UltraLightIt.woff2") format("woff2"), url("./fonts/AvenirNextCyr-UltraLightIt.woff") format("woff"), url("./fonts/AvenirNextCyr-UltraLightIt.ttf") format("truetype");
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

.footer {
	background-color: #0F1010;
	color: #fff;
}

.footer__top {
	padding: 85px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

@media (max-width: 1024px) {
	.footer__top {
		flex-direction: column;
		align-items: start;
		padding-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.footer__top {
		border-top: 1px solid rgba(255, 255, 255, 0.15);
		padding: 20px 0;
	}
}

.footer__form {
	max-width: 800px;
}

.footer__form input[type="email"] {
	background-color: transparent;
	max-width: 675px;
	margin-right: 40px;
}

@media (max-width: 1200px) {
	.footer__form input[type="email"] {
		max-width: 540px;
	}
}

@media (max-width: 767px) {
	.footer__form input[type="email"] {
		max-width: 280px;
		margin-right: 18px;
	}
}

@media (max-width: 400px) {
	.footer__form input[type="email"] {
		max-width: 71vw;
		font-size: 6vw;
		letter-spacing: -0.47vw;
	}
}

.footer__form input[type="submit"] {
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	opacity: 0;
	position: relative;
	z-index: 10;
	cursor: pointer;
}

@media (max-width: 767px) {
	.footer__form input[type="submit"] {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 400px) {
	.footer__form input[type="submit"] {
		width: 15.385vw;
		height: 15.385vw;
	}
}

.footer__form .fake-button-submit {
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(255, 255, 255, 0.05);
	width: 80px;
	height: 80px;
	position: absolute;
	border-radius: 50%;
	top: 0;
	left: 0;
	transition: all .3s;
}

@media (max-width: 767px) {
	.footer__form .fake-button-submit {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 400px) {
	.footer__form .fake-button-submit {
		width: 15.385vw;
		height: 15.385vw;
	}
}

@media (max-width: 767px) {
	.footer__form .fake-button-submit svg {
		width: 20px;
	}
}

.footer__form .form-subscribe-inner {
	display: flex;
	align-items: center;
}

.footer__form .wpcf7-spinner {
	position: absolute;
	top: calc(100% + 20px);
}

.footer__form .button-submit:hover .fake-button-submit {
	background-color: #fff;
}

.footer__form .button-submit:hover .fake-button-submit svg path {
	fill: #0F1010;
}

.footer__form .wpcf7-response-output {
	border: none !important;
}

.footer__content {
	padding: 65px 0;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 80px;
}

@media (max-width: 1024px) {
	.footer__content {
		flex-direction: column;
		margin-bottom: 0;
		padding-bottom: 30px;
	}
}

@media (max-width: 767px) {
	.footer__content {
		padding: 38px 0 110px;
	}
}

.footer__content-address {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
	max-width: 645px;
	width: 100%;
	margin-bottom: 70px;
}

@media (max-width: 767px) {
	.footer__content-address {
		max-width: 350px;
		margin-bottom: 55px;
	}
}

.footer__content-emails {
	display: flex;
	gap: 60px;
	margin-bottom: 80px;
}

@media (max-width: 1024px) {
	.footer__content-emails {
		margin-bottom: 65px;
	}
}

@media (max-width: 767px) {
	.footer__content-emails {
		flex-direction: column;
		gap: 34px;
		margin-bottom: 55px;
	}
}

.footer__content-emails .footer-email__title {
	display: block;
	margin-bottom: 18px;
}

.footer__content-emails .footer-email__link {
	font-family: Avenir;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.08;
	letter-spacing: -0.5px;
}

.footer__content-emails .footer-email__link:hover {
	opacity: .7;
}

.footer__endorsed {
	display: flex;
	align-items: end;
	gap: 24px;
}

.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media (max-width: 1024px) {
	.footer__bottom {
		display: none;
	}
}

.footer__menu-list {
	display: flex;
	gap: 97px;
	padding-top: 10px;
}

@media (max-width: 1200px) {
	.footer__menu-list {
		gap: 50px;
	}
}

@media (max-width: 767px) {
	.footer__menu-list {
		gap: 80px;
		flex-wrap: wrap;
	}
}

.footer__menu-list .sub-menu {
	padding-top: 30px;
	display: flex;
	gap: 30px;
	flex-direction: column;
}

.footer__menu-list .sub-menu a:hover {
	color: rgba(255, 255, 255, 0.3);
}

.footer__menu-list .sub-menu li:last-child {
	position: absolute;
	bottom: 0;
	color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 1024px) {
	.footer__menu-list .sub-menu li:last-child {
		display: none;
	}
}

.footer__menu-list .sub-menu li:last-child a:hover {
	color: white;
}

.footer__content-right {
	position: relative;
	padding-bottom: 50px;
}

@media (max-width: 767px) {
	.footer__content-right {
		padding-bottom: 60px;
	}
}

.footer__content-left {
	width: 100%;
	max-width: 815px;
}

@media (max-width: 1200px) {
	.footer__content-left {
		max-width: 700px;
	}
}

@media (max-width: 767px) {
	.footer__content-left {
		flex-direction: column-reverse;
		display: flex;
	}
}

@media (max-width: 767px) {
	.footer__social.social-desktop {
		display: none;
	}
}

.footer__social.social-mobile {
	display: none;
}

@media (max-width: 767px) {
	.footer__social.social-mobile {
		display: block;
	}
}

@media (max-width: 767px) {
	.footer__social.social-mobile .social-list {
		justify-content: center;
	}
}

.footer .footer-logo {
	max-width: 200px;
	width: 100%;
}

@media (max-width: 767px) {
	.footer .footer-logo {
		margin: auto;
		padding: 90px 0 36px;
	}
}

@media (max-width: 767px) {
	.footer .footer-logo.footer-logo-desktop {
		display: none;
	}
}

.footer .footer-logo.footer-logo-mobile {
	display: none;
}

@media (max-width: 767px) {
	.footer .footer-logo.footer-logo-mobile {
		display: block;
	}
}

.size-main {
	max-width: 1360px;
	width: 100%;
	margin: auto;
	padding: 0 40px;
}

@media (max-width: 1200px) {
	.size-main {
		padding: 0 20px;
		max-width: 1320px;
	}
}

@media (max-width: 767px) {
	.size-main {
		padding: 0 15px;
	}
}

.size-small {
	max-width: 1144px;
	width: 100%;
	margin: auto;
	padding: 0 40px;
}

@media (max-width: 1200px) {
	.size-small {
		max-width: 1320px;
	}
}

@media (max-width: 767px) {
	.size-small {
		padding: 0 15px;
	}
}

.button {
	background-color: #fff;
	padding: 13px 32px;
	border-radius: 40px;
	color: #0F1010;
	transition: background-color 0.3s;
}

.button:hover {
	background-color: rgba(255, 255, 255, 0.7);
}

.button-link {
	display: flex;
	align-items: center;
	gap: 30px;
}

.button-link:hover .button-link__icon {
	background-color: #0F1010;
}

.button-link:hover svg path {
	fill: #fff;
}

.button-link__icon {
	border: 1px solid #1D252D;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
}

.button-link__icon svg {
	max-width: 20px;
	width: 100%;
	height: 100%;
}

.button-link.button-link-white {
	color: #fff;
}

.button-link.button-link-white .button-link__icon {
	border-color: #fff;
}

.button-link.button-link-white .button-link__icon svg path {
	fill: #fff;
}

.button-link.button-link-white:hover .button-link__icon {
	background-color: #fff;
}

.button-link.button-link-white:hover .button-link__icon svg path {
	fill: #0F1010;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	color: #fff;
}

.social-list__item-link {
	border: 1px solid #fff;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s;
}

@media (max-width: 767px) {
	.social-list__item-link {
		padding: 14px;
	}
}

.social-list__item-link.social-list__item-link-text {
	width: auto;
	border-radius: 56px;
}

.social-list__item-link.social-list__item-link-custom_icon {
	padding: 13px;
}

.social-list__item-link:hover {
	color: #0F1010;
	background-color: #fff;
}

body.open-menu {
	max-height: 100vh;
	overflow: hidden;
}

.endorsed-title {
	font-family: Avenir Next;
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
}

.endorsed-image {
	max-width: 150px;
	width: 100%;
}

.title {
	font-family: Avenir Next;
	font-size: 45px;
	font-weight: 900;
	line-height: 120%;
	color: #0F1010;
	text-transform: uppercase;
}

@media (max-width: 1400px) {
	.title {
		font-size: 40px;
	}
}

@media (max-width: 1200px) {
	.title {
		font-size: 34px;
	}
}

@media (max-width: 1024px) {
	.title {
		font-size: 30px;
	}
}

@media (max-width: 767px) {
	.title {
		font-size: 28px;
	}
}

@media (max-width: 350px) {
	.title {
		font-size: 24px;
	}
}

.title mark {
	color: #DC6761;
	background-color: transparent;
}

.title-big {
	font-family: Avenir Next;
	font-size: 100px;
	font-weight: 900;
	line-height: 120%;
	text-transform: uppercase;
}

@media (max-width: 1024px) {
	.title-big {
		font-size: 80px;
	}
}

@media (max-width: 991px) {
	.title-big {
		font-size: 65px;
	}
}

@media (max-width: 767px) {
	.title-big {
		font-size: 44px;
	}
}

@media (max-width: 350px) {
	.title-big {
		font-size: 38px;
	}
}

.subtitle {
	display: block;
	font-family: Avenir Next;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	color: #0F1010;
	text-transform: uppercase;
	margin-bottom: 60px;
}

@media (max-width: 991px) {
	.subtitle {
		margin-bottom: 40px;
	}
}

@media (max-width: 767px) {
	.subtitle {
		margin-bottom: 30px;
	}
}

.text h3 {
	text-transform: uppercase;
	font-weight: 700;
}

.cards-regular {
	display: flex;
	justify-content: space-between;
	gap: 30px 10px;
	flex-wrap: wrap;
}

@media (max-width: 767px) {
	.cards-regular {
		gap: 20px;
	}
}

.cards-regular__item {
	width: calc((100% - 30px) / 4);
	padding: 30px 24px 30px 25px;
	background: rgba(255, 255, 255, 0.03);
}

@media (max-width: 1024px) {
	.cards-regular__item {
		width: calc((100% - 30px) / 2);
	}
}

@media (max-width: 767px) {
	.cards-regular__item {
		width: 100%;
		padding: 30px 24px 55px 30px;
	}
}

.cards-regular__icon {
	max-width: 46px;
	width: 100%;
	max-height: 46px;
	margin-bottom: 36px;
}

.cards-regular__title {
	color: #fff;
	margin-bottom: 20px;
}

.section {
	padding: 140px 0;
}

@media (max-width: 1024px) {
	.section {
		padding: 100px 0;
	}
}

@media (max-width: 350px) {
	.section {
		padding: 70px 0;
	}
}

.donuts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.donuts .donut {
	width: 25%;
	height: 50%;
	position: relative;
	overflow: hidden;
}

@media (max-width: 1024px) {
	.donuts .donut {
		width: 33.3333%;
	}
}

@media (max-width: 767px) {
	.donuts .donut {
		width: 50%;
		height: 25%;
	}
}

@media (max-width: 1024px) {
	.donuts .donut:nth-child(1), .donuts .donut:nth-child(2) {
		display: none;
	}
}

@media (max-width: 767px) {
	.donuts .donut:nth-child(1), .donuts .donut:nth-child(2) {
		display: block;
	}
}

.donuts .donut-inner {
	border-radius: 50%;
	border: solid 163px #0F1010;
	width: 195%;
	height: 195%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (max-width: 1440px) {
	.donuts .donut-inner {
		border: solid 155px #0F1010;
	}
}

@media (max-width: 1400px) {
	.donuts .donut-inner {
		width: 190%;
	}
}

@media (max-width: 1200px) {
	.donuts .donut-inner {
		width: 183%;
		border: solid 135px #0F1010;
	}
}

@media (max-width: 1024px) {
	.donuts .donut-inner {
		width: 168%;
		border: solid 145px #0F1010;
	}
}

@media (max-width: 991px) {
	.donuts .donut-inner {
		border: solid 110px #0F1010;
	}
}

@media (max-width: 767px) {
	.donuts .donut-inner {
		width: 150%;
		height: 150%;
		border: solid 47px #0F1010;
	}
}

.logo {
	max-width: 40px;
	width: 100%;
}

.post-big__image {
	max-width: 640px;
	width: 100%;
	max-height: 570px;
	margin-bottom: 40px;
}

.post-big__info {
	display: flex;
	gap: 20px;
	margin-bottom: 34px;
}

.post-big__title {
	margin-bottom: 25px;
}

.header {
	background-color: #0F1010;
}

.header__wrapper {
	padding: 27px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header__menu-list {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
	align-items: center;
}

@media (max-width: 1300px) {
	.header__menu-list {
		flex-direction: column;
		gap: 40px;
		text-align: right;
		align-items: end;
		padding-right: 50px;
		margin-bottom: 35px;
	}
}

@media (max-width: 767px) {
	.header__menu-list {
		align-items: start;
		text-align: left;
		padding: 25px 0;
		gap: 35px;
	}
}

.header__menu-list li {
	position: relative;
}

.header__menu-list li:hover > a {
	color: rgba(255, 255, 255, 0.7);
}

.header__menu-list li:hover:after {
	opacity: .7;
}

.header__menu-list li:hover .sub-menu {
	clip-path: inset(0 0 0 0);
}

.header__menu-list li.menu-item-has-children:after {
	content: url("data:image/svg+xml;charset=UTF-8, <svg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'> <path d='M13 1L7 7L1 1' stroke='white' stroke-width='2' stroke-linecap='round'/></svg>");
	display: inline-block;
	width: 12px;
	height: 6px;
	margin-left: 14px;
	transition: opacity .3s;
}

@media (max-width: 1300px) {
	.header__menu-list li.menu-item-has-children:after {
		display: none;
	}
}

@media (max-width: 1300px) {
	.header__menu-list li.menu-item-has-children > a {
		display: none;
	}
}

.header .sub-menu {
	clip-path: inset(0 0 100% 0);
	position: absolute;
	top: calc(100% + 18px);
	left: 0;
	padding: 16px;
	background: rgba(255, 255, 255, 0.03);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	border-radius: 8px;
	transition: all .5s;
	min-width: 165px;
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media (max-width: 1300px) {
	.header .sub-menu {
		position: static;
		clip-path: inset(0 0 0 0);
		background-color: transparent;
		-webkit-backdrop-filter: none;
		padding: 0;
		gap: 40px;
	}
}

@media (max-width: 767px) {
	.header .sub-menu {
		align-items: start;
		text-align: right;
		gap: 35px;
	}
}

.header__left {
	display: flex;
	align-items: center;
	gap: 55px;
}

.header__right {
	display: flex;
	align-items: center;
	gap: 24px;
}

@media (max-width: 1300px) {
	.header__right {
		display: none;
	}
}

.header__social a:hover {
	opacity: .7;
}

.header__navigation.open {
	clip-path: inset(0 0 0 0);
}

@media (max-width: 1300px) {
	.header__navigation {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: #0F1010;
		z-index: 100;
		padding: 40px 20px;
		max-width: 400px;
		width: 100%;
		clip-path: inset(0 0 0 100%);
		transition: all .6s;
	}
}

@media (max-width: 1024px) {
	.header__navigation {
		padding: 20px 20px;
		overflow: scroll;
	}
}

@media (max-width: 767px) {
	.header__navigation {
		left: 0;
		padding: 25px 15px 25px 50px;
		max-width: 100vw;
	}
}

@media (max-width: 1300px) {
	.header__navigation .social-list {
		justify-content: end;
		padding-right: 50px;
	}
}

@media (max-width: 767px) {
	.header__navigation .social-list {
		justify-content: start;
		padding-right: 0;
	}
}

.header__decor {
	max-width: 80px;
	margin: 0 50px 76px auto;
}

@media (max-width: 767px) {
	.header__decor {
		margin-left: 0;
	}
}

.header__subnav {
	display: none;
}

@media (max-width: 1300px) {
	.header__subnav {
		display: block;
	}
}

.icon-menu {
	width: 30px;
	height: 23px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	position: relative;
	display: none;
	cursor: pointer;
}

@media (max-width: 1300px) {
	.icon-menu {
		display: block;
	}
}

.icon-menu:after {
	content: '';
	position: absolute;
	right: 0;
	width: 40px;
	border-top: 1px solid #fff;
	top: 50%;
	transform: translateY(-50%);
}

.icon-menu-close {
	display: none;
	margin-left: auto;
	width: 50px;
	height: 50px;
	margin-bottom: 40px;
	cursor: pointer;
}

@media (max-width: 1300px) {
	.icon-menu-close {
		display: block;
	}
}

@media (max-width: 767px) {
	.icon-menu-close {
		width: 38px;
		height: 38px;
	}
}

.icon-menu-close__icon {
	width: 100%;
	height: 100%;
}

.section-about__content {
	display: flex;
	justify-content: space-between;
	gap: 98px;
}

@media (max-width: 1400px) {
	.section-about__content {
		gap: 40px;
	}
}

@media (max-width: 1200px) {
	.section-about__content {
		gap: 20px;
	}
}

@media (max-width: 991px) {
	.section-about__content {
		flex-direction: column;
		gap: 30px;
	}
}

.section-about .text {
	margin-bottom: 64px;
}

@media (max-width: 767px) {
	.section-about .text {
		margin-bottom: 42px;
	}
}

.section-about__text {
	max-width: 640px;
}

@media (max-width: 1200px) {
	.section-about__text {
		max-width: 570px;
	}
}

@media (max-width: 991px) {
	.section-about__text {
		max-width: 100%;
	}
}

.section-about__endorsed {
	display: flex;
	align-items: center;
	gap: 24px;
}

@media (max-width: 767px) {
	.section-about__endorsed {
		display: none;
	}
}

.section-about__bottom {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	padding-right: 12px;
}

.section-video-and-cards {
	background-color: #0F1010;
	color: #fff;
}

.section-video-and-cards .subtitle {
	color: #fff;
	margin-bottom: 0;
	padding-top: 8px;
}

@media (max-width: 767px) {
	.section-video-and-cards .subtitle {
		padding-top: 0;
	}
}

.section-video-and-cards .title {
	color: #fff;
	max-width: 925px;
	width: 100%;
}

.section-video-and-cards__headline {
	display: flex;
	gap: 30px;
	padding-bottom: 40px;
	border-bottom: 1px solid #fff;
}

@media (max-width: 767px) {
	.section-video-and-cards__headline {
		flex-direction: column;
		padding-bottom: 30px;
	}
}

.section-video-and-cards__video {
	padding: 100px 0 90px;
}

@media (max-width: 767px) {
	.section-video-and-cards__video {
		max-width: 356px;
		margin: auto;
		padding: 35px 0;
	}
}

.section-video-and-cards__video video {
	max-height: 636px;
	object-fit: cover;
}

@media (max-width: 1440px) {
	.section-video-and-cards__video video {
		max-height: 44.167vw;
	}
}

@media (max-width: 1024px) {
	.section-video-and-cards__video video {
		max-height: 636px;
	}
}

@media (max-width: 767px) {
	.section-video-and-cards__video video {
		max-width: 356px;
		margin: auto;
		height: 185vw;
		max-height: 716px;
	}
}

.section-video-and-cards__video-inner {
	position: relative;
}

.section-video-and-cards .cards-regular__text {
	color: #fff;
}

.section-program-preview__title {
	margin-bottom: 30px;
}

.section-program-preview__list {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media (max-width: 767px) {
	.section-program-preview__list {
		gap: 60px;
	}
}

.section-program-preview__item-content {
	max-width: 345px;
	width: 100%;
	font-family: Avenir Next;
}

.section-program-preview__text {
	margin-bottom: 30px;
}

.section-program-preview__item-image {
	max-width: 630px;
	width: 100%;
	max-height: 400px;
	position: relative;
}

@media (max-width: 1200px) {
	.section-program-preview__item-image {
		max-width: 600px;
	}
}

@media (max-width: 1024px) {
	.section-program-preview__item-image {
		max-width: 53%;
	}
}

@media (max-width: 767px) {
	.section-program-preview__item-image {
		max-width: 100%;
	}
}

.section-program-preview__item-image .item-image {
	border-radius: 400px;
	overflow: hidden;
}

@media (max-width: 767px) {
	.section-program-preview__item-image .item-image {
		max-height: 210px;
	}
}

.section-program-preview__item-decor {
	max-width: 150px;
	max-height: 150px;
	position: absolute;
	top: 0;
	transform: translateY(-50%);
	right: 25%;
}

@media (max-width: 1024px) {
	.section-program-preview__item-decor {
		max-width: 130px;
		max-height: 130px;
	}
}

@media (max-width: 991px) {
	.section-program-preview__item-decor {
		max-width: 100px;
		max-height: 100px;
	}
}

@media (max-width: 767px) {
	.section-program-preview__item-decor {
		max-width: 80px;
		max-height: 80px;
		right: 20%;
	}
}

.section-program-preview__item {
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
}

@media (max-width: 767px) {
	.section-program-preview__item {
		flex-direction: column-reverse;
		align-items: start;
	}
}

.section-program-preview__item:nth-child(2n) {
	flex-direction: row-reverse;
}

@media (max-width: 767px) {
	.section-program-preview__item:nth-child(2n) {
		flex-direction: column-reverse;
	}
}

.section-donate {
	background-color: #0F1010;
	color: #fff;
	position: relative;
	height: 750px;
}

@media (max-width: 1400px) {
	.section-donate {
		height: auto;
	}
}

.section-donate .size-main {
	height: 100%;
}

@media (max-width: 1400px) {
	.section-donate .size-main {
		height: auto;
	}
}

.section-donate .title {
	color: #fff;
	margin-bottom: 40px;
}

@media (max-width: 767px) {
	.section-donate .title {
		font-size: 36px;
		line-height: 120%;
		max-width: 94%;
		margin-bottom: 30px;
	}
}

@media (max-width: 350px) {
	.section-donate .title {
		font-size: 30px;
	}
}

.section-donate__text {
	max-width: 300px;
	color: #fff;
}

@media (max-width: 767px) {
	.section-donate__text {
		max-width: 320px;
	}
}

.section-donate__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 50px;
	align-items: center;
	max-width: 590px;
	height: 100%;
}

@media (max-width: 1400px) {
	.section-donate__wrapper {
		max-width: 100%;
	}
}

@media (max-width: 991px) {
	.section-donate__wrapper {
		flex-direction: column-reverse;
	}
}

@media (max-width: 767px) {
	.section-donate__wrapper {
		gap: 100px;
		padding-bottom: 100px;
	}
}

@media (max-width: 350px) {
	.section-donate__wrapper {
		padding-bottom: 70px;
	}
}

.section-donate__image {
	max-width: 720px;
	width: 100%;
	max-height: 750px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

@media (max-width: 1400px) {
	.section-donate__image {
		position: static;
		transform: translateX(40px);
	}
}

@media (max-width: 1200px) {
	.section-donate__image {
		transform: translateX(20px);
	}
}

@media (max-width: 991px) {
	.section-donate__image {
		transform: translateX(0);
		max-width: calc(100% + 30px);
		margin: 0 -15px;
		width: auto;
		height: 550px;
	}
}

.section-donate__description {
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 40px;
	font-family: Avenir Next;
}

@media (max-width: 1024px) {
	.section-donate__description {
		flex-direction: column-reverse;
		align-items: start;
	}
}

.section-slider {
	background-color: #DC6761;
	color: #fff;
	max-width: 100vw;
	overflow: hidden;
}

.section-slider .subtitle {
	color: #fff;
	margin-bottom: 165px;
}

@media (max-width: 1200px) {
	.section-slider .subtitle {
		margin-bottom: 50px;
	}
}

@media (max-width: 767px) {
	.section-slider .subtitle {
		margin-bottom: 40px;
	}
}

.section-slider .swiper-slide {
	max-width: 450px;
	width: 100%;
	height: auto;
}

.section-slider .swiper-slide-inner {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 40px;
}

.section-slider .slide-title {
	border-bottom: 1px solid #fff;
	padding-bottom: 22px;
}

@media (max-width: 767px) {
	.section-slider .slide-title {
		padding-bottom: 25px;
	}
}

.section-slider .swiper-achievements {
	overflow: visible;
}

.section-slider__headline {
	max-width: 540px;
	display: none;
}

.section-slider__headline.swiper-slide {
	display: block;
}

@media (max-width: 1200px) {
	.section-slider__headline.swiper-slide {
		display: none;
	}
}

@media (max-width: 1200px) {
	.section-slider__headline {
		display: block;
		margin-bottom: 100px;
	}
}

@media (max-width: 350px) {
	.section-slider__headline {
		margin-bottom: 70px;
	}
}

.section-vertical-sliders {
	background-color: #CADCE0;
}

@media (max-width: 767px) {
	.section-vertical-sliders {
		background-color: #DC6761;
		color: #fff;
	}
}

@media (max-width: 767px) {
	.section-vertical-sliders .title {
		font-size: 36px;
		line-height: 120%;
		color: #fff;
	}
}

.section-vertical-sliders__wrapper {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	align-items: center;
}

.section-vertical-sliders__headline {
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

@media (max-width: 767px) {
	.section-vertical-sliders__headline {
		padding: 100px 0;
		gap: 40px;
	}
}

.section-vertical-sliders__text {
	max-width: 285px;
}

@media (max-width: 767px) {
	.section-vertical-sliders__text {
		color: #fff;
		max-width: 315px;
	}
}

.section-vertical-sliders__sliders {
	display: flex;
	justify-content: space-between;
	gap: 40px;
	max-width: 720px;
	width: 100%;
	max-height: 750px;
}

@media (max-width: 1200px) {
	.section-vertical-sliders__sliders {
		max-width: 600px;
		max-height: 550px;
	}
}

@media (max-width: 991px) {
	.section-vertical-sliders__sliders {
		display: none;
	}
}

.section-vertical-sliders .vertical-slider__item {
	max-width: 340px;
	max-height: 450px;
}

@media (max-width: 1200px) {
	.section-vertical-sliders .vertical-slider__item {
		max-height: 370px;
	}
}

@media (max-width: 767px) {
	.section-vertical-sliders .button-link {
		color: #fff;
	}
	.section-vertical-sliders .button-link .button-link__icon {
		border-color: #fff;
	}
	.section-vertical-sliders .button-link .button-link__icon svg path {
		fill: #fff;
	}
	.section-vertical-sliders .button-link:hover .button-link__icon {
		background-color: #fff;
	}
	.section-vertical-sliders .button-link:hover .button-link__icon svg path {
		fill: #0F1010;
	}
}

.section-recent-posts__posts {
	display: flex;
	justify-content: space-between;
	gap: 115px;
}

/*# sourceMappingURL=style.css.map */